---
layout: default
---

<section>
  <div class="jumbotron">
    <div class="container">
      {{site.description}}

    </div>

</div>
</section>

<section id="page-content">
  <div class="container">
    <div class="post-list">
  {%  for post in site.posts reversed%}
  <div class="post-box">
    <div class="post-title">
    <a class="post-title" href="{{post.url | prepend:site.baseurl }}" > {{ post.title }}</a>
    </div>
    <div class="post-excerpt">
      {{ post.content | strip_html | truncatewords:20}}
    </div>
    <div class="posted">
      Publicado el
      <span class="posted-on">

        {{ post.date | date: "%A, %-d de %B del %Y" |
         replace: "January","Enero" | replace: "Februar","Febrero" | replace:"March","Marzo" |replace:"April","Abril" | replace:"May","Mayo" | replace:"June","Junio" | replace:"July","Julio" | replace:"August","Agosto" | replace:"September","Septiembre" | replace: "October", "Octubre"| replace: "November", "Noviembre"| 
         replace: "December", "Diciembre" |
         replace: "Monday", "Lunes" | replace: "Tuesday", "Martes" | replace: "Wednesday", "Miércoles" | replace: "Thursday", "Jueves" | replace: "Friday", "Viernes"| replace: "Saturday", "Sábado" | replace: "Sunday", "Domingo"}}
      </span>
      <span class="in">
        en
      </span>
      <span class="categories-on">
        {% for category in post.categories%}
        {{category}} &nbsp;{% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
      </span>
    </div>
  </div>
  {% endfor %}
  </div>
</section>
